#!/usr/bin/env bash

usage() {
    echo -e "Usage:"
    echo -e "-b\tbar"
}

run() {
    if ! pgrep $1 ; then
        $@&
    fi
}

bar=""
while getopts "b:h" OPTION; do
    case ${OPTION} in
        b)
            bar="${OPTARG}"
            ;;

        h)
            usage
            exit 0
            ;;

        *)
            usage
            exit 1
            ;;
    esac
done

if [[ -z "${bar}" ]]; then
    echo "You must specify what bar to use!"
    exit 1
fi


# Daemonize compton
run compton -c --backend glx --vsync opengl-swc --blur-background

{{- if eq .chezmoi.osRelease.id "fedora" }}
run /usr/libexec/kf5/polkit-kde-authentication-agent-1
{{- end }}

run bitcoin -min

# email
run protonmail-bridge --no-window

run nextcloud

{{- if eq .computer_type "laptop" }}
# Wifi applet
run nm-applet
{{- else}}
# keyboard software
run ckb-next --background
{{- end }}

{{- if eq (index .chezmoi.osRelease "idLike") "arch" }}
run pamac
run "/usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1"
gnome-keyring-daemon -r -d
{{- end}}

# Blue light filter
run redshift

# Device manager
run udiskie

run "numlockx on"

if [[ "${bar}" = "polybar" ]]; then
    run "${HOME}/.config/polybar/launch.sh"
fi

exit 0
