#!/usr/bin/env bash

run() {
    if ! pgrep $1 ; then
        $@&
    fi
}

# Daemonize compton
run picom --config "${HOME}/.config/picom/picom.conf"

# Notification daemon
run dunst

run "/usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1"
gnome-keyring-daemon -r -d

# email
run protonmail-bridge --no-window

run nextcloud

{{- if eq .computer_type "laptop" }}
# Wifi applet
run nm-applet
{{- else}}
# keyboard software
run ckb-next --background
{{- end }}

# Blue light filter
run redshift

run safeeyes

# Device manager
run udiskie

run numlockx on

run gpg-agent

# set background
run variety

exit 0
